/* General styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    color: #333;
}

/* Header */
header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.header-logo {
    max-height: 50px !important;
    max-width: auto !important;
    margin-right: 10px;
}



/* Main content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #666;
}

.get-started-btn {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.get-started-btn:hover {
    background-color: #0056b3;
}

/* Form styles */
form {
    display: inline-block;
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

label {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 10px 0 5px;
    color: #333;
}


input[type="number"],
select,
textarea {
    flex: none;
    margin: 5px 0 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 5px; /* Add some margin for spacing between buttons */
}

button:hover {
    background-color: #45a049;
}

button.btn-next {
    background-color: #007bff;
}

button.btn-next:hover {
    background-color: #0056b3;
}

button.btn-prev {
    background-color: #6c757d;
}

button.btn-prev:hover {
    background-color: #5a6268;
}

#response {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
    white-space: pre-wrap;
}

.muscle-groups,
.checkbox-group {
    display: flex;
    flex-direction: column;
}

.muscle-groups label,
.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Hidden content */
.hidden {
    display: none;
}

/* Multi-step form */
.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

/* Progress bar */
.progressbar {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    position: relative;
}

.progressbar::before {
    content: "";
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 1;
}

.progress {
    background-color: #007bff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 1;
    transition: 0.4s ease-in;
}

.progress-step {
    background-color: #ccc;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    transition: 0.4s ease;
    position: relative;
}

.progress-step::before {
    content: attr(data-step);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #333;
}

.progress-step-active::before {
    color: #fff;
}

.progress-step-active {
    background-color: #007bff;
    color: #fff;
}

/* Form step titles */
.form-step-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Splash screen styles */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    z-index: 200;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.splash.display-none {
    opacity: 0;
    pointer-events: none;
    z-index: -10;
}

.splash img {
    max-width: 300px;
    max-height: 300px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* Toast message styles */
.toast { 
    position: fixed; 
    top: 25px; 
    right: 25px; 
    max-width: 300px; 
    background: #fff; 
    padding: 0.5rem; 
    border-radius: 4px; 
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3); 
    z-index: 1023; 
    animation: slideInRight 0.3s ease-in-out forwards, fadeOut 0.5s ease-in-out forwards 3s; 
    transform: translateX(110%); 
} 
  
.toast.closing { 
    animation: slideOutRight 0.5s ease-in-out forwards; 
} 
  
.toast-progress { 
    position: absolute; 
    display: block; 
    bottom: 0; 
    left: 0; 
    height: 4px; 
    width: 100%; 
    background: #b7b7b7; 
    animation: toastProgress 3s ease-in-out forwards; 
} 
  
.toast-content-wrapper { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
  
.toast-icon { 
    padding: 0.35rem 0.5rem; 
    font-size: 1.5rem; 
} 
  
.toast-message { 
    flex: 1; 
    font-size: 0.9rem; 
    color: #000000; 
    padding: 0.5rem; 
} 

  
.toast.toast-warning { 
    background: #3498db; 
} 
  
.toast.toast-warning .toast-progress { 
    background-color: #007bff; 
} 
  
@keyframes slideInRight { 
    0% { 
        transform: translateX(110%); 
    } 
  
    75% { 
        transform: translateX(-10%); 
    } 
  
    100% { 
        transform: translateX(0%); 
    } 
} 
  
@keyframes slideOutRight { 
    0% { 
        transform: translateX(0%); 
    } 
  
    25% { 
        transform: translateX(-10%); 
    } 
  
    100% { 
        transform: translateX(110%); 
    } 
} 
  
@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
  
    100% { 
        opacity: 0; 
    } 
} 
  
@keyframes toastProgress { 
    0% { 
        width: 100%; 
    } 
  
    100% { 
        width: 0%; 
    } 
}

/* Loading screen styles */
.loader3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    z-index: 9999; /* ensure it's above other content */
    visibility: hidden; /* initially hidden */
}

.loader3.hidden {
    display: none;
}
  
  .bars {
    width: 10px;
    height: 20px;
    margin: 0 2px;
    border-radius: 4px;
    animation: loader3 3s ease-in-out infinite;
  }
  
  .bar1 {
    background-color: #4285F4;
    animation-delay: -0.8s;
  }
  
  .bar2 {
    background-color: #4285F4;
    animation-delay: -0.7s;
  }
  
  .bar3 {
    background-color: #4285F4;
    animation-delay: -0.6s;
  }
  
  .bar4 {
    background-color: #4285F4;
    animation-delay: -0.5s;
  }
  
  .bar5 {
    background-color: #4285F4;
    animation-delay: -0.4s;
  }
  
  .bar6 {
    background-color: #4285F4;
    animation-delay: -0.3s;
  }
  
  .bar7 {
    background-color: #4285F4;
    animation-delay: -0.2s;
  }
  
  .bar8 {
    background-color: #4285F4;
    animation-delay: -0.1s;
  }
  
  .bar9 {
    background-color: #4285F4;
    animation-delay: 0s;
  }
  
  .bar10 {
    background-color: #4285F4;
    animation-delay: 0.1s;
  }
  
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1, 2.32);
    }
  
    40% {
      transform: scale(1);
    }
  }

.no-scroll {
    overflow: hidden;
}

/* Update checkbox styles */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.checkbox-wrapper {
    flex: 0 1 calc(50% - 10px); /* Take up half the width of the container, minus the gap */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    display: inline-flex; /* Ensure the wrapper takes up only as much space as its content */
    cursor: pointer;
    position: relative;
    padding: 0; /* Remove any default padding */
}

.checkbox-input {
    display: none; /* Hide the default checkbox */
}

.checkbox-tile {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    gap: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    width: 100%; /* Make the tile take up the full width of the wrapper */
    text-align: center; /* Center the text */
}

.checkbox-input:checked + .checkbox-tile {
    background-color: #e0f7fa;
    border-color: #007bff;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.checkbox-label {
    font-size: 16px;
    color: #333;
}
